# ─────────────────────────────────────────────
# RESIHUB – Variables de Entorno
# Copia este archivo como .env y completa los valores
# ─────────────────────────────────────────────

# SERVIDOR
PORT=3000
NODE_ENV=development

# BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=resihub_db

# JWT
JWT_SECRET=resihub_jwt_super_secreto_2026_itmina
JWT_EXPIRES_IN=8h

# URL FRONTEND (para CORS)
FRONTEND_URL=http://localhost:5500
